
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: black;

    }

    html {
        width: 100%;
        height: 100%;

    }

    
    label{
        font-size:.9rem;
       }

    body {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .hidden{
    display:none; 
    visibility: none;
    opacity: 0;
   position:absolute; 
    }
    .center {

        text-align: center;
    }

    .container {
        display: flex;        
        position: relative; 
    }
 
   
    h1 {
        margin-bottom: 10px;
    }

    #wrapper {
        border: solid 1px black;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 10px;
    
    }
 
    #mainwrapper{
        max-width: 98%;
    }
    p {
        color: black;
        font-size: 1rem;
        height: auto;
        width: auto;
    }

 .disabled{
     opacity: 60%;
     color:darkgray;
     pointer-events: none;
 }
  form{
      width:100%;
      height : auto;
  }
  
    .skipContainer {
        position: relative;
        align-items: center;
        left: 0;
        display: flex;
        margin-top: 10px;
    }

    .skipCheck {
        width: 20px;
        height: 20px;

    }

    .skipChoice {font-size: 12px;}


    .skipChoice,
    .skipCheck {
        position: relative;
        left: -10px;
    }

    /* slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 42px;
        height: 20px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        right:2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .mainCheck:checked+.slider {
        background-color: #2196F3;
    }

    .mainCheck:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    .mainCheck:checked+.slider:before {
        -webkit-transform: translateX(-23px);
        -ms-transform: translateX(-23px);
        transform: translateX(-23px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    /*end of slider section*/

    button {
        margin: 10px;
        width: 70px;
        border-radius: 4px;
    }

    td {
         display: flex;
         flex-direction: column;
    }
    td > *{
        
    }
    tr{
        height:10rem;   border: 1px solid black;
        border-collapse: collapse;
}   

  .questCol textarea{
   margin-top: 20px;
   padding: 2px 3px;
   display: block;
   position: relative;
   min-width: 95%;
  
}
  

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
   
 label {
     font-size: 1.2rem;
 }
    
#wrapper{
     min-width: 85%;
     height:auto;
    }

    .inputContainer{
        
        position: relative;
        top:15px;
     }
    
    td.inputCol{  
        
        vertical-align: middle;
        justify-items: center;
        justify-content: center;
        padding:0 10px;
        height: 160px;
    }

    td {justify-content: center;
        padding:10px 15px;}
  
    .questCol{
        padding-right: 5px;     
        max-width:35rem;
    }
    
    td.altCol{
    
        height: 100px;
        width:200px;
    }
     textarea{
        resize: none;  
        display: block;
        font-size: 13px;
        text-align: start;
        align-content: flex-start;
         width:100%;
         top:10px;
         position: relative;
         margin-top:10px;
         padding: 4px 4px;
         align-items: flex-start;
    }

     td.altCol input {
         width:100%;
     }
    
    tr{ 
        border: 1px solid black;
        border-collapse: collapse;
        
    }
   
  
  #preBar{
   display: flex;
    flex-direction: row; 
 padding:  0 97px;
    
   margin : 10px 0;
  }


  #preBar div{
 display: flex;

  }

  #radioBtnBox label{
    margin: 0 20px;
  }

  #radioBtnBox label input{
    margin: 0 10px;
  }
  #radioBtnBox{
    margin-left:90px;
    border:1px solid black;
    padding: 10px 0;
}
  
#formControl select{

    margin: 0px 10px 0  0;
}  
#formControl label{
   margin:10px;
    align-items:center;

}

#form1 {
  

    position: relative;
display: flex;
flex-direction: column;
}

table{
    width:100%;
}


.mainChoice {
    display: flex;
    margin-top: 8px;
    left:10px;
    position: relative;
}

#formContainer{


}

td.inputContainer {
    display: inline-block;
    height:100%;
}

td.inputCol{  
    display:flex;
    position: relative;
    vertical-align: middle;
    text-align: center;
    align-items:center;
    min-height:100%;
   
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}